# To install all dependencies, run:
# pip install -r requirements.txt
#
# Python version note:
# This project requires Python 3.10 only for compatibility.
# Install AutoGluon with:
# pip install autogluon.tabular

autogluon.tabular==1.3.1
python-dotenv
numpy
pandas
requests
torch
transformers
openai
